<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_-Bv10Ay0EeqPYdR1OsHmhw" specification="@CycleBased(200)&#xA;import:&quot;platform_kobuki.h&quot;&#xA;import:&quot;platform_bluetooth.h&quot;&#xA;import:&quot;helper_funcs.h&quot;&#xA;&#xA;interface:&#xA;// Define events&#xA;// and variables here. &#xA;// Use CTRL + Space for content assist.&#xA;var rotation:float = 0.0f&#xA;var rotation_diff:float=0.0f&#xA;var rotation_delta:float=0.0f" name="rotate" domainID="com.yakindu.domain.c">
    <regions xmi:id="_-BySEAy0EeqPYdR1OsHmhw" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_-B6N4Qy0EeqPYdR1OsHmhw">
        <outgoingTransitions xmi:id="_-B_GYQy0EeqPYdR1OsHmhw" target="_-B8DFAy0EeqPYdR1OsHmhw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_-B8DFAy0EeqPYdR1OsHmhw" specification="entry/&#xA;rotation_diff = 0.0f;&#xA;lcd_printf(0, &quot;Resting&quot;)&#xA;&#xA;always/&#xA;stop_kobuki();&#xA;rotation_diff = normalize_rot(get_rotate() - rotation)&#xA;&#xA;exit/&#xA;stop_kobuki()" name="Rest" incomingTransitions="_-B_GYQy0EeqPYdR1OsHmhw _XGvVkAy7EeqccN-aCi4FtQ _06q4YAy7EeqccN-aCi4FtQ">
        <outgoingTransitions xmi:id="_Xr6KEAy5EeqccN-aCi4FtQ" specification="[rotation_diff > 5.0f]" target="_WgkYUAy5EeqccN-aCi4FtQ"/>
        <outgoingTransitions xmi:id="_zcxXAAy7EeqccN-aCi4FtQ" specification="[rotation_diff &lt; -5.0f]" target="_vMRLIAy7EeqccN-aCi4FtQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_WgkYUAy5EeqccN-aCi4FtQ" specification="entry/&#xA;lcd_printf(0, &quot;Rotating_Left&quot;);&#xA;lcd_printf(0, &quot;Rot left: %f&quot;, rotation_diff);&#xA;start_gyro();&#xA;stop_kobuki()&#xA;&#x9;&#xA;always/&#xA;rotation_delta = read_gyro();&#xA;lcd_printf(1, &quot;Rot %f&quot;, rotation_delta);&#xA;drive_kobuki(-150, 150)&#xA;&#xA;exit/&#xA;stop_gyro();&#xA;rotation = normalize_rot(rotation + rotation_delta);&#xA;stop_kobuki()" name="Rotating_Left" incomingTransitions="_Xr6KEAy5EeqccN-aCi4FtQ">
        <outgoingTransitions xmi:id="_XGvVkAy7EeqccN-aCi4FtQ" specification="[rotation_delta > rotation_diff ]" target="_-B8DFAy0EeqPYdR1OsHmhw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_vMRLIAy7EeqccN-aCi4FtQ" specification="entry/&#xA;lcd_printf(0, &quot;Rotating_Right&quot;);&#xA;lcd_printf(0, &quot;Rot right: %f&quot;, rotation_diff);&#xA;start_gyro();&#xA;stop_kobuki()&#xA;&#x9;&#xA;always/&#xA;rotation_delta = read_gyro();&#xA;lcd_printf(1, &quot;Rot %f&quot;, rotation_delta);&#xA;drive_kobuki(150, -150)&#xA;&#xA;exit/&#xA;stop_gyro();&#xA;rotation = normalize_rot(rotation + rotation_delta);&#xA;stop_kobuki()" name="Rotating_Right" incomingTransitions="_zcxXAAy7EeqccN-aCi4FtQ">
        <outgoingTransitions xmi:id="_06q4YAy7EeqccN-aCi4FtQ" specification="[rotation_delta &lt; rotation_diff]" target="_-B8DFAy0EeqPYdR1OsHmhw"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_-BxrAAy0EeqPYdR1OsHmhw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_-Bv10Ay0EeqPYdR1OsHmhw" measurementUnit="Pixel">
    <children xmi:id="_-B1VYAy0EeqPYdR1OsHmhw" type="Region" element="_-BySEAy0EeqPYdR1OsHmhw">
      <children xsi:type="notation:DecorationNode" xmi:id="_-B4YsAy0EeqPYdR1OsHmhw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_-B4YsQy0EeqPYdR1OsHmhw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_-B4Ysgy0EeqPYdR1OsHmhw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_-B4_wAy0EeqPYdR1OsHmhw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_-B608Ay0EeqPYdR1OsHmhw" type="Entry" element="_-B6N4Qy0EeqPYdR1OsHmhw">
          <children xmi:id="_-B7cAAy0EeqPYdR1OsHmhw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_-B8DEAy0EeqPYdR1OsHmhw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_-B8DEQy0EeqPYdR1OsHmhw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_-B8DEgy0EeqPYdR1OsHmhw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_-B7cAQy0EeqPYdR1OsHmhw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-B7cAgy0EeqPYdR1OsHmhw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_-B608Qy0EeqPYdR1OsHmhw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_-B608gy0EeqPYdR1OsHmhw" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-B8DEwy0EeqPYdR1OsHmhw" x="111" y="20"/>
        </children>
        <children xmi:id="_-B8qIgy0EeqPYdR1OsHmhw" type="State" element="_-B8DFAy0EeqPYdR1OsHmhw">
          <children xsi:type="notation:DecorationNode" xmi:id="_-B94QAy0EeqPYdR1OsHmhw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_-B94QQy0EeqPYdR1OsHmhw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_-B94Qgy0EeqPYdR1OsHmhw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_-B94Qwy0EeqPYdR1OsHmhw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_-B-fUAy0EeqPYdR1OsHmhw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-B-fUQy0EeqPYdR1OsHmhw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_-B-fUgy0EeqPYdR1OsHmhw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_-B8qIwy0EeqPYdR1OsHmhw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_-B8qJAy0EeqPYdR1OsHmhw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_-B-fUwy0EeqPYdR1OsHmhw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-B_GYAy0EeqPYdR1OsHmhw" x="40" y="80" width="273" height="225"/>
        </children>
        <children xmi:id="_WgoCsAy5EeqccN-aCi4FtQ" type="State" element="_WgkYUAy5EeqccN-aCi4FtQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_Wgp34Ay5EeqccN-aCi4FtQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Wgp34Qy5EeqccN-aCi4FtQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_Wgp34gy5EeqccN-aCi4FtQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Wgqe8Ay5EeqccN-aCi4FtQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_Wgqe8Qy5EeqccN-aCi4FtQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Wgqe8gy5EeqccN-aCi4FtQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_WgrGAAy5EeqccN-aCi4FtQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_WgoCsQy5EeqccN-aCi4FtQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_WgoCsgy5EeqccN-aCi4FtQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_WgrGAQy5EeqccN-aCi4FtQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WgoCswy5EeqccN-aCi4FtQ" x="474" y="-8"/>
        </children>
        <children xmi:id="_vMRyMAy7EeqccN-aCi4FtQ" type="State" element="_vMRLIAy7EeqccN-aCi4FtQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_vMSZQAy7EeqccN-aCi4FtQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_vMSZQQy7EeqccN-aCi4FtQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_vMSZQgy7EeqccN-aCi4FtQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_vMSZQwy7EeqccN-aCi4FtQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_vMSZRAy7EeqccN-aCi4FtQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_vMSZRQy7EeqccN-aCi4FtQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_vMTAUAy7EeqccN-aCi4FtQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_vMRyMQy7EeqccN-aCi4FtQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_vMRyMgy7EeqccN-aCi4FtQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_vMTAUQy7EeqccN-aCi4FtQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_vMRyMwy7EeqccN-aCi4FtQ" x="474" y="200"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-B4_wQy0EeqPYdR1OsHmhw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_-B1VYQy0EeqPYdR1OsHmhw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-B6N4Ay0EeqPYdR1OsHmhw" x="220" y="10" width="815" height="433"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_-CA7kwy0EeqPYdR1OsHmhw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_-CBioAy0EeqPYdR1OsHmhw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_-CBioQy0EeqPYdR1OsHmhw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_-CBiogy0EeqPYdR1OsHmhw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_-CBiowy0EeqPYdR1OsHmhw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-CBipAy0EeqPYdR1OsHmhw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-CBipQy0EeqPYdR1OsHmhw" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_-BxrAQy0EeqPYdR1OsHmhw" name="inlineDefinitionSection" booleanValue="true"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_-BxrAgy0EeqPYdR1OsHmhw"/>
    <edges xmi:id="_-CAUgAy0EeqPYdR1OsHmhw" type="Transition" element="_-B_GYQy0EeqPYdR1OsHmhw" source="_-B608Ay0EeqPYdR1OsHmhw" target="_-B8qIgy0EeqPYdR1OsHmhw">
      <children xsi:type="notation:DecorationNode" xmi:id="_-CA7kAy0EeqPYdR1OsHmhw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_-CA7kQy0EeqPYdR1OsHmhw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_-CA7kgy0EeqPYdR1OsHmhw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_-CAUgQy0EeqPYdR1OsHmhw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_-CAUgwy0EeqPYdR1OsHmhw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_-CAUggy0EeqPYdR1OsHmhw" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6Xo3YAy7EeqccN-aCi4FtQ" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ydLiQAy7EeqccN-aCi4FtQ" id="(0.29304029304029305,0.0044444444444444444)"/>
    </edges>
    <edges xmi:id="_Xr8mUAy5EeqccN-aCi4FtQ" type="Transition" element="_Xr6KEAy5EeqccN-aCi4FtQ" source="_-B8qIgy0EeqPYdR1OsHmhw" target="_WgoCsAy5EeqccN-aCi4FtQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_Xr9NYQy5EeqccN-aCi4FtQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Xr9NYgy5EeqccN-aCi4FtQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Xr9NYwy5EeqccN-aCi4FtQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Xr8mUQy5EeqccN-aCi4FtQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Xr9NYAy5EeqccN-aCi4FtQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Xr8mUgy5EeqccN-aCi4FtQ" points="[0, 0, -117, 47]$[118, -22, 1, 25]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_XsAQsAy5EeqccN-aCi4FtQ" id="(0.970562317563474,0.11804302567661348)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_XsAQsQy5EeqccN-aCi4FtQ" id="(0.019083969465648856,0.6342857142857142)"/>
    </edges>
    <edges xmi:id="_XGxKwAy7EeqccN-aCi4FtQ" type="Transition" element="_XGvVkAy7EeqccN-aCi4FtQ" source="_WgoCsAy5EeqccN-aCi4FtQ" target="_-B8qIgy0EeqPYdR1OsHmhw">
      <children xsi:type="notation:DecorationNode" xmi:id="_XGxx0Qy7EeqccN-aCi4FtQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_XGxx0gy7EeqccN-aCi4FtQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_XGxx0wy7EeqccN-aCi4FtQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_XGxKwQy7EeqccN-aCi4FtQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_XGxx0Ay7EeqccN-aCi4FtQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_XGxKwgy7EeqccN-aCi4FtQ" points="[0, 0, 237, 48]$[-232, -34, 5, 14]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_XG0OEAy7EeqccN-aCi4FtQ" id="(0.003816793893129771,0.8342857142857143)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_XG0OEQy7EeqccN-aCi4FtQ" id="(0.9743589743589743,0.32)"/>
    </edges>
    <edges xmi:id="_zcylIAy7EeqccN-aCi4FtQ" type="Transition" element="_zcxXAAy7EeqccN-aCi4FtQ" source="_-B8qIgy0EeqPYdR1OsHmhw" target="_vMRyMAy7EeqccN-aCi4FtQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_zcylJAy7EeqccN-aCi4FtQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_zcylJQy7EeqccN-aCi4FtQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_zcylJgy7EeqccN-aCi4FtQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_zcylIQy7EeqccN-aCi4FtQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_zcylIwy7EeqccN-aCi4FtQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_zcylIgy7EeqccN-aCi4FtQ" points="[0, 5, -168, 2]$[169, -31, 1, -34]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_zc0aUAy7EeqccN-aCi4FtQ" id="(1.0,0.6867539026629936)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_zc0aUQy7EeqccN-aCi4FtQ" id="(0.011450381679389313,0.2057142857142857)"/>
    </edges>
    <edges xmi:id="_06rfcAy7EeqccN-aCi4FtQ" type="Transition" element="_06q4YAy7EeqccN-aCi4FtQ" source="_vMRyMAy7EeqccN-aCi4FtQ" target="_-B8qIgy0EeqPYdR1OsHmhw">
      <children xsi:type="notation:DecorationNode" xmi:id="_06sGgAy7EeqccN-aCi4FtQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_06sGgQy7EeqccN-aCi4FtQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_06sGggy7EeqccN-aCi4FtQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_06rfcQy7EeqccN-aCi4FtQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_06rfcwy7EeqccN-aCi4FtQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_06rfcgy7EeqccN-aCi4FtQ" points="[0, 0, 171, 19]$[-166, -14, 5, 5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_06t7sAy7EeqccN-aCi4FtQ" id="(0.0,0.4342857142857143)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_06t7sQy7EeqccN-aCi4FtQ" id="(0.989010989010989,0.8888888888888888)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
